In [1]:
import numpy as np
import pandas as pd

# Strat

In [2]:
from backtester import Backtest
from load_data import load_data

In [3]:
_, swaps_fixes, _, _ = load_data('../data')
swaps_fixes.head()

,AUDUSD,DKKUSD,EURUSD,GBPUSD,NZDUSD,CADUSD,CHFUSD,JPYUSD,NOKUSD,SEKUSD,USD
Date,,,,,,,,,,,
2000-01-03 16:00:00+00:00,NaN,5.01,4.515,NaN,NaN,6.18,NaN,0.450,6.2507,5.360,6.870
2000-01-03 22:00:00+00:00,6.885,5.01,4.515,7.075,NaN,6.18,NaN,0.450,6.2507,5.360,6.920
2000-01-04 16:00:00+00:00,6.930,5.00,4.555,7.075,NaN,6.22,2.86,0.525,6.2722,5.385,6.860
2000-01-04 22:00:00+00:00,6.910,5.00,4.555,7.075,7.175,6.24,2.86,0.525,6.2722,5.385,6.855
2000-01-05 16:00:00+00:00,6.830,4.98,4.535,7.115,7.250,6.32,2.87,0.505,6.4200,5.375,6.890

In [4]:
usswaps = swaps_fixes[swaps_fixes.index.hour == 16]['USD']
usswaps.index = usswaps.index.map(lambda x: x.replace(hour=0))
usswaps.index = usswaps.index.map(lambda x: x.tz_localize(None))
usswaps.head()

Date
2000-01-03    6.87
2000-01-04    6.86
2000-01-05    6.89
2000-01-06    6.88
2000-01-07    6.87
Name: USD, dtype: float64

# FX Fixes

In [10]:
fx_fixes = pd.read_excel('../data/em_data.xlsx', sheet_name='fx_fixes', index_col=0, parse_dates=True)
swaps_fixes = pd.read_excel('../data/em_data.xlsx', sheet_name='swaps_fixes', index_col=0, parse_dates=True)

fx_fixes.sort_index(inplace=True)
swaps_fixes.sort_index(inplace=True)

In [14]:
fx_fixes = fx_fixes.merge(usswaps, left_index=True, right_index=True)

In [15]:
fx_fixes.head()

,BRLUSD,RUBUSD,MXNUSD,ZARUSD,CZKUSD,PLNUSD,HUFUSD,INRUSD,CNYUSD,USD
Date,,,,,,,,,,
2000-01-03,0.552181,0.03656,0.10637,0.16309,0.02842,0.2430,0.00399,0.02297,0.12077,6.87
2000-01-04,0.540833,0.03636,0.10448,0.16420,0.02835,0.2423,0.00405,0.02299,0.12077,6.86
2000-01-05,0.542594,0.03669,0.10521,0.16479,0.02847,0.2426,0.00406,0.02299,0.12077,6.89
2000-01-06,0.543478,0.03642,0.10438,0.16451,0.02848,0.2430,0.00406,0.02297,0.12077,6.88
2000-01-07,0.545554,0.03642,0.10550,0.16508,0.02853,0.2449,0.00404,0.02296,0.12078,6.87